sudo: required
services:
  - docker
  - xvfb

cache:
  apt: true
  directories:
    - "$TRAVIS_CACHE_DIR"

before_cache:
  - sudo rm -rf $TRAVIS_CACHE_DIR/selenium-standalone

notifications:
  email: false

branches:
  only:
    - master
    - /^[0-9]+\..*$/
    - /^v[0-9]+\..*$/
    - /^release-[0-9]+\..*$/

matrix:
  include:
    # --- Search plugin build/test ---
  - stage: test-pr
    name: 'PR tests'
    if: type = pull_request
    os: linux
    dist: trusty
    language: node_js
    addons:
      chrome: stable
    node_js:
      - "10"
    env:
      - JOBNAME=AMD64 DOCKER_TAG=$(git log -1 --pretty="%aN" | sed 's/[^a-zA-Z0-9]*//g')
    before_install:
      - make init
      - make docker-logins
    install:
      - make install
    before_script:
      - make copyright-check
      - make package
    script:
      - make integrate-plugin
      - make run-plugin-tests
    after_success:
      - make release
    after_failure:
      - make release


# --- x86 Deploy ---
  - stage: build
    name: "Build x86"
    if: (branch = master) AND (type = push)
    os: linux
    language: node_js
    node_js:
      - "10"
    env:
      - JOBNAME=AMD6
    before_install:
      - make init
    install:
      - make install
    script:
      - make package
    deploy:
      provider: script
      script: "npx semantic-release"
      skip_cleanup: true
      on:
        branch: master
