sudo: required
services:
  - docker
  - xvfb

language: node_js
node_js:
  - "10"

before_cache:
  - sudo rm -rf $TRAVIS_CACHE_DIR/selenium-standalone


branches:
  only:
    - master
    - /^release-[0-9]+\..*$/

addons:
  sonarcloud:
    organization: "open-cluster-management"
    token:
      secure: "U9S8G7DRk8vCMJkhOeYo2kWWBCUU8rNucSsF0ts6TSlHPkScU+f6Ds1wUfP7QNR0AsxZVw/JhVqxQ/QX1qunQEs2SB5fRK35/+5zJDbxCE/lMDesGHE+gCtOZobuF7XaeiUNDpwtAJ9MNxARf5ixoKe7qBvzdia8DPiTr5S+q2GFnrqyWcNjJlfdMwmY/GAmsTbfDqLooy1gSCv+0Go36VT5IqmX9/nLUzSQ7bhnLKazmSfFsa9fvMcfeE/NiMDpt2UpL8N/xnNsnblAe7iBSQL3hjDRYUouGJBE2Z2z1FI/RbhryCGDAsI4RiIV8JeVrJFTEw1hSDCt9zM1j9sXwIDTZl9sRs1nG4D1Rmered9C2matm1ut5dnVU2mCSyR/aUj1SAJ/K2GwYnHsNJa5I4ikjtiAGRJHL8txsSYOgB6moYf+Z5+ZImc4Pa8Z8e/j2/ObnXAsyw5uxsKGUy9fFrQXN1OaJZ0lC+xe3Hp0Na37BubJK1sCYiwz8BilhjtdOp65e15urS79Chm0u/khrec1BAw98pq+za4QJpXvpv7BkIiK1+cxQ09XMEFZwlKKBQz4SDhv4Z5zU7fzSBT91wBRntyfMb0/i0pUPiwoQOOyjxcudDLCExpzpKHR2HDVyY+7ICaauMBr5JzM3V/ijVgRW0R7jzNeOBQv1HceizU="

env:
  global:
    # Required
    - OS=linux
    - COMPONENT_TAG_EXTENSION="-${TRAVIS_COMMIT}"
    # Component Specific
    - COMPONENT_INIT_COMMAND=${TRAVIS_BUILD_DIR}/build/install-dependencies.sh
    - COMPONENT_BUILD_COMMAND=${TRAVIS_BUILD_DIR}/build/build.sh
    - COMPONENT_UNIT_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-unit-tests.sh
    - COMPONENT_E2E_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-e2e-tests.sh

stages:
  - build
  - unit-test
  - test-e2e
  - publish

before_script:
  - make init


jobs:
  include:
    # - stage: build
    #   name: "Build and push search-kui-plugin test image"
    #   script:
    #     - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
    #     - make component/build
    #     - make component/push
    - stage: unit-test
      name: "Run unit tests"
      if: type = pull_request
      script:
        # Set the image tag differently for PRs
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
        # Bootstrap the build harness, pull test image, and run unit tests.
        # - make component/pull
        - make sonar/js/jest-init
        - npm install -g typescript sass carbon-components
        - npm install
        - npm run buildCSS
        - make package
        - make run-plugin-tests
        - make sonar/js

    # - stage: test-e2e
    #   name: "Deploy the image to a cluster and run e2e tests"
    #   if: type = pull_request
    #   script:
    #     #Check out a clusterpool, set up oc, deploy, run e2e tests, and return clusterpool cluster
    #     - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
    #     # - make component/pull
    #     - make component/test/e2e
        
  #   - stage: publish
  #     name: "Publish the plugin"
  #     if: (branch = master) AND (type = push)
  #     os: linux
  #     language: node_js
  #     node_js:
  #       - "10"
  # #     env:
  # #       - JOBNAME=AMD6
  #     before_install:
  #       - make init
  #     install:
  #       - npm install
  #       - npm run buildCSS
  #     script:
  #       - make package
  #     deploy:
  #       provider: script
  #       script: "npx semantic-release"
  #       skip_cleanup: true
  #       on:
  #         branch: master
